[Desktop Entry]
Name=kmRecorderAndPlayer
Comment=Graphical tool for recording and playing keyboard and mouse input
Terminal=false
Type=Application
Exec=kmRecPlayerApp
Icon=kmRecPlayerIcon
Categories=Development;
