[Desktop Entry]
Type=Application
Name=Keyboard and Mouse Recorder Player
Exec=env GDK_BACKEND=x11 kmRecPlayerApp
Icon=kmRecPlayerIcon
Categories=Graphics;
